*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

.ring{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2.5px 0 #3b3b3b;
    animation: loading 1s linear infinite;
    background: transparent;
}

.text{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #262626;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}